.animate {
    border: 0px !important;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px transparent;
}

.animate:hover {
    transform: scale(1.1);
    box-shadow: 0px 3px 17px 0px #22222257;
    color: #006bffe3;
    opacity: 1 !important;
}

.cardTitle {
    color: inherit !important;
}

.personRoute {
    text-decoration: none;
    color: unset;
}

.personImg {
    width: auto;
    height: auto;
}